<li>
  <%= link_to author.author%>
  <% if current_user.admin? %>
  | <%= link_to ' Delete', author, method: :delete, 
                                           data: {confirm: "Are you sure?"}  %>
  <% end %>
</li>