<h1>New Author</h1>
<%= form_for @author do |f| %>

  <% if @author.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <%= pluralize(@author.errors.count, "error") %>.
      </div>
      
      <ul>
        <% @author.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

        <div class="field">
          <%= f.label :author_name %>
          <%= f.text_field :author, class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "save", class: "btn btn-primary" %>
        </div> 
    </div>
  </div>
<% end %>