<% provide(:title, 'All Author') %>
<h1>All authors</h1>

<div class="row">
<%= form_tag "/allauthors", :method => 'get' do %>
<div class="col-md-5 col-md-offset-3">
   <hh1><strong>Search by author's name</strong></hh1>
   <%= text_field_tag :search, params[:search], class: 'form-control' %>
</div>
<div class="col-md-2 col-md-offset-0">
   <br>
   <%= submit_tag "Search", class: "btn-custom" %>
</div>
<% end %>
</div>

<% if @author.count>30 %>
    <%= will_paginate %>
<% end %>

<div class="col-md-6 col-md-offset-3">
<ul class="authors">
  <% @author.each do |author| %>
     <%= render author %>
  <% end %>
</ul>
</div>

<% if @author.count>30 %>
    <%= will_paginate %>
<% end %>
