<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="row">
<%= form_tag users_path, :method => 'get' do %>
<div class="col-md-5 col-md-offset-3">
   <hh1><strong>Search by user's name</strong></hh1>
   <%= text_field_tag :search, params[:search], class: 'form-control' %>
</div>
<div class="col-md-2 col-md-offset-0">
   <br>
   <%= submit_tag "Search", class: "btn-custom" %>
</div>
<% end %>
</div>


<ul class="users">
  <% @users.each do |user| %>
     <%= render user %>
  <% end %>
</ul>