<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-7">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %><br><hr>
        <strong><u>Name:</u></strong> <%= @user.name %><br><hr>
        <strong><u>Email :</u></strong><%= @user.email %>
      </h1>
    </section>
  </aside>
  
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>


</div>