<% if @book.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
       <%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:
    </div>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>