<%= form_for(@review) do |f| %>
  <%= render 'shared/error_message', object: f.object %>
  <div class="field">
    <%= f.text_area :comment, placeholder: "Compose new review..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>