<h1>New Publisher</h1>
<%= form_for @publisher, html: {multipart: true} do |f| %>

  <% if @publisher.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <%= pluralize(@publisher.errors.count, "error") %>.
      </div>
      
      <ul>
        <% @publisher.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

        <div class="field">
          <%= f.label :publisher_name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "save", class: "btn btn-primary" %>
        </div> 

        <div>
          <%= link_to 'Delete Publisher?','publishers/show' %>
        </div>
    </div>

  </div>
<% end %>
