<h1>Delete Publisher</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <ul class="authors">
      <% @publisher.each do |publisher| %>
         <li>
            <%= link_to publisher.name, publisher %>
            |<%= link_to ' Delete', publisher, method: :delete, 
                                           data: {confirm: "Are you sure?"} %>
         </li>
      <% end %>   
    </ul>
  </div>
</div>
