<%= form_for @book, html: {multipart: true} do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= render 'shared/book_error_messages' %>
        
        <hh1><strong>Category</strong></hh1>
        <div class="field">
          <%= link_to 'New category ?', '/newcategory' %>
        </div>
        <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :types)) %>

        <hh1><strong>Publisher</strong></hh1> 
        <div class="field">
          <%= link_to 'New publisher ?', '/newpublisher' %>
        </div>
        <%= select_tag(:publisher_id, options_from_collection_for_select(Publisher.all, :id, :name)) %>

        <hh1><strong>Author</strong></hh1>
        <div class="field">
          <%= link_to 'New author ?', authors_path %>
        </div>
        <%= select_tag(:author_id, options_from_collection_for_select(Author.all, :id, :author)) %>

        <div class="field">
          <%= f.label :image %>
          <%= f.file_field :book_image, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :year %>
          <%= f.text_field :year, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "save", class: "btn btn-primary" %>
        </div> 

    </div>
  </div>
<% end %>