<% provide(:title, 'All book') %>

<div class="row">
<%= form_tag root_path, :method => 'get' do %>
<div class="col-md-5 col-md-offset-3">
   <hh1><strong>Search by book's name</strong></hh1>
   <%= text_field_tag :search, params[:search], class: 'form-control' %>
</div>
<div class="col-md-2 col-md-offset-0">
   <br>
   <%= submit_tag "Search", class: "btn-custom" %>
</div>
<% end %>
</div>

<h1 class="current-category"><%= params[:category] %></h1>
<% if @book.count == 0 %>
   <h1>There are no book match your order</h1>
<% else %> 
   <div class="row">
      <% @book.each do |book| %>
         <div class="col-md-3">
            <a href="/books/<%= book.id %>">
        	   <%= image_tag book.book_image.url(:book_index), class: "book" %>
            </a>
         </div>
      <% end %>   
   </div>   
<% end %> 