<% provide(:title, @book.name) %>

 <div class="row">  
  <div class="col-md-4">
    <div class="row">

      <%= image_tag @book.book_image.url(:book_show), class: "book_show" %>
      <div class="reviews">
         <hh>Reviews</hh>
            <%= render @book.reviews %>      
      </div>
      <% if logged_in? %>
        <div>
          <%= link_to "Add review", new_book_review_path(@book), class: "btn btn-custom2" %><br>
        </div>
      <% end %>
    </div>
  </div>
   

   
   <div class="col-md-8" >
      <div class="book-info" >
          <hh class="book-title"><%= @book.name %></hh><br>
          <hh2 class="book-year"><span>Publish year : </span><strong><%= @book.year %></hh2></strong><br>
          <hh3>category:<strong> <%= @book.category.types %></strong></hh3><br>
          <hh3>publisher:<strong> <%= @book.publisher.name %></strong></hh3><br>
          <h3 class="book-author"><span>From: </span><%= @book.author.author %></h3>
          <hh4 class="avg-rating">Average Rating</hh4>
          <div class="average-review-rate" data-score=<%= @average_review %>></div>
          <span class="number-of-reviews">Based on <%= @book.reviews.count %> reviews </span>
          <p class="book-desc"><%= @book.description %></p>
      </div>

      <div class="links btn-group">
        <%= link_to "Back", root_path, class: "btn btn-custom" %>
        <% if logged_in? %>
          <% if current_user.admin %>
            <%= link_to "Edit", edit_book_path(@book), class: "btn btn-custom" %>
            <%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "You really want 
                                                   to delete this review" }, class: "btn btn-custom" %>
          <% end %>
        <% end %>
      </div>

   </div>
</div>



<script>
  $('.review-rate').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<script>
  $('.average-review-rate').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>