<h1>Delete Category</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <ul class="authors">
      <% @category.each do |category| %>
         <li>
            <%= link_to category.types, category %>
            |<%= link_to ' Delete', category, method: :delete, 
                                           data: {confirm: "Are you sure?"} %>
         </li>
      <% end %>   
    </ul>
  </div>
</div>