<%= simple_form_for([@book, @book.reviews.build]) do |f| %>

    <% if @review.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          <%= pluralize(@review.errors.count, "error") %>.
        </div>
      
        <ul>
          <% @review.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

	<div id="rating-form">
		<label>Rating score</label>
	</div>
	<%= f.input :comment %>
	<%= f.button :submit, :class => "btn-custom" %>
<% end %>

<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rate]'
	});
</script>