<div class="review">
   <div class="review-rate" data-score="<%= review.rate %>"></div>
   <p class="review-comment"><%= review.comment %><br></p>

   <% if logged_in? %>
      <% if review.user_id == current_user.id || current_user.admin %>
	     <div class="links btn-group">
		    <%= link_to "Edit",edit_book_review_path(review.book, review), class: "btn btn-custom" %>
		    <%= link_to "Delete", book_review_path(review.book, review), method: :delete, data: 
	   	                                  { confirm: "Are you sure?" }, class: "btn btn-custom" %>
	     </div>
      <% end %>
   <% end %>
</div>