<div class="col-md-6 col-md-offset-3">

	<div class="edit-book-form">

		<h1>Edit Review</h1>

        <% if @review.errors.any? %>
          <div id="error_explanation">
            <div class="alert alert-danger">
              <%= pluralize(@review.errors.count, "error") %>.
            </div>
      
            <ul>
              <% @review.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>    

		<%= simple_form_for([@book, @review]) do |f| %>
		    <div id="rating-form">
		        <label>Rating score</label>
		    </div>
			<%= f.input :comment %>
			<%= f.button :submit, :class => "btn-custom" %>
		<% end %>
	</div>
</div>

<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rate]'
	});
</script>