<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Manage Library", root_path, id: "logo" %>   
    <nav>

      <ul class="nav navbar-nav">
        <% if logged_in? && current_user.admin %>
          <li><%= link_to "New Book", '/newbook' %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right"> 

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Categories <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
               <% Category.all.each do |category| %>
                  <li class= "<%= 'active' if params[:category] == category.types %>">
                    <%= link_to category.types, root_path(category: category.types), class: "link" %>
                  </li>
               <% end %>
            </ul>
          </li>

        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Authors", allauthors_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign Up",   signup_path %></li>   
          <li><%= link_to "Log In", login_path %></li>
        <% end %>
      </ul> 
    </nav>
  </div>
</header>
